.left-sidebar {
  position: fixed;
  width: 222px;
  height: 100%;
  background: var(--nav-bg);
  display: flex;
  flex-direction: column;
  border-radius: 0px 24px 24px 0;
  gap: 32px;
  padding: 20px;
  transition: width var(--transition);
  z-index: 1000;

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
  }

  &__arrow {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    margin-left: auto;
    &--closed {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &--closed {
    width: var(--left-sidebar-width);
  }

  &__logo {
    display: flex;
    width: fit-content;
    transition: opacity var(--transition);
    
    &--closed {
      width: 0;
      opacity: 0;
    }
  }
}
