.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 56px;
  row-gap: 28px;
  width: var(--right-sidebar-width);
  position: absolute;
  right: 0;
  background-color: white;
  height: 100%;
  transition: transform var(--transition);
  z-index: 1;
  max-width: 100%;

  &__heading {
    color: var(--right-sidebar-heading);
    font-size: 14px;
    white-space: nowrap;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 92px;
    left: -40px;
    position: absolute;
    background: white;
    border: none;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    z-index: 999;
    cursor: pointer;
    
    &--closed {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &--closed {
    transform: translateX(100%);
  }
}
