.searchbar {
  align-self: start;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-bottom: 1px solid var(--searchbar-border);
  padding: 8px;
  font-size: 14px;
  color: var(--searchbar-text);
  line-height: 1.4;
  max-width: 80%;
  
  &__placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}