@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'config'; 
@import 'nav';
@import 'middle'; 
@import 'container'; 
@import 'right-sidebar'; 
@import 'left-sidebar'; 
@import 'searchbar';
@import 'calendar';
@import 'health';

body {
background-color: $body-bg-color;
font-family: $font-family;
display: flex;
flex-direction: row;
justify-content: space-between;
height: 100vh;
font-size: 14px;
}
