$body-bg-color: #fff;
$middle-bg-color: #E8F1F9;
$accent-color:#7030A0;

$icon-darkblue: #3B76EF;
$icon-blue: #5FC5FF;
$icon-purple: #A66DD4;

$container-bg: white;
$container-heading: #85A5C2;
$container-subheading: #59748A;

$container-event-heading: #0E426F;

$health-bg: #E8F1F9;
$health-heading: #A3C9EA;
$health-subheading: #5FA1DA;

$calendar-month: #0E426F;
$calendar-weekday: #1666AC;
$calendar-numberday: #6A7178;

$container-concentration-bg: #5FA1DA;
$container-stress-bg: #C5B5F5;
$container-activity-bg: #EEADC4;
$container-event-bg: #F4FAFF;
$container-event-highlight-bg: #4263EB;

$container-radius: 16px;
$font-family: "Raleway", serif;

$nav-color: white;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
