.health {
  height: 76px;
  min-width: 240px;
  display: flex;
  flex-direction: row;
  padding: 12px 0px;
  border-radius: 19px;
  background-color: var(--health-bg);
  
  &__item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--health-heading);
    &:last-child {
      border-right: none;
    }
  }

  &__heading {
    color: var(--health-heading);
  }

  &__subheading {
    color: var(--health-subheading);
    font-size: 18px;
    font-weight: 700;
  }
}
