.left-sidebar {
  position: fixed;
  width: 222px;
  height: 100%;
  background: var(--nav-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 24px 24px 0;
  gap: 32px;
  padding: 20px;
  transition: width var(--transition);
  z-index: 1000;

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;
  }
  &__arrow {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    &--closed {
      img {
        transform: rotate(180deg);
      }
    }
  }
  &--closed {
    width: var(--left-sidebar-width);
  }
}
