.middle {
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  padding: 80px;
  margin-left: calc(var(--left-sidebar-width) - 20px);
  margin-right: var(--right-sidebar-width);
  gap: 64px;
  background-color: var(--middle-bg-color);
  border-radius: 0px 51px 51px 0px;
  min-height: fit-content;
  width: 100%;
  transition: margin-right var(--transition);

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 160px 280px 200px;
    row-gap: 64px;
    column-gap: 32px;
    grid-template-areas:
      "a a b b c c"
      "d d d e e e"
      "f f f g g g";

    & > :nth-child(1) {
      grid-area: a;
    }
    & > :nth-child(2) {
      grid-area: b;
    }
    & > :nth-child(3) {
      grid-area: c;
    }
    & > :nth-child(4) {
      grid-area: d;
    }
    & > :nth-child(5) {
      grid-area: e;
    }
    & > :nth-child(6) {
      grid-area: f;
    }
    & > :nth-child(7) {
      grid-area: g;
    }
  }

  &--closed {
    padding: 80px;
    border-radius: 0;
    margin-right: 0;
  }

  &--overlay {
    transition: all var(--transition) 600ms;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: black;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      z-index: 100;
      transition: all var(--transition) 600ms;
    }
  }
}
