.nav {
  margin-top: 153px;
  display: flex;
  height: 100%;

  &__menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: var(--nav-color);
    gap: 24px;
  }

  &__text {
    &--closed {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: white;

    & img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      border-radius: 11px;
    }

    &:last-child {
      margin-top: auto;
    }

    &--active {
      img {
        background-color: var(--nav-item-active-bg);
      }
    }
  }
}
