.nav {
  margin-top: 153px;
  display: flex;
  height: 100%;

  &__menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: var(--nav-color);
    gap: 24px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    padding: 12px;
    cursor: pointer;
    border-radius: 11px;

    &--active {
      background-color: var(--nav-item-active-bg);
    }

    &:last-child {
      margin-top: auto;
    }
  }
}
