@include media-lg {
  :root {
    --right-sidebar-width: 300px;
  }
  .middle {
    padding: 40px;
    &__grid {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      column-gap: 12px;
    }
  }

  .right-sidebar {
    position: absolute;
    padding: 30px;
    margin-right: 0;
  }
}

@include media-md {
  .right-sidebar {
    position: fixed;
  }
  
  .middle {
    padding: 80px;
    border-radius: 0;
    margin-right: 0;
  }
}

@include media-sm {
  .middle {
    padding: 40px;
  }
}

@include media-xs {
  .card--with-icons {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr;
    row-gap: 8px;
    column-gap: 8px;
    grid-template-areas:
      "a b"
      "c c"
      "d d"
      "e e";
  }
}
