.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 16px;
    
    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }

    &__heading {
      font-size: 14px;
      font-weight: 700;
      color: var(--user-heading);
      white-space: nowrap;
    }

    &__subheading {
      font-size: 12px;
      font-weight: 500;
      color: var(--user-subheading);
      white-space: nowrap;
    }

    &__unlock-btn {
        background: none;
        border: none;
    }
  }