@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'config'; 
@import 'nav';
@import 'middle'; 
@import 'card'; 
@import 'color-card';
@import 'right-sidebar'; 
@import 'left-sidebar'; 
@import 'searchbar';
@import 'calendar';
@import 'health';
@import 'responsive';
@import 'user';
@import 'event';

body {
background-color: white;
font-family: var(--font-family);
display: flex;
flex-direction: row;
justify-content: space-between;
height: 100vh;
font-size: 14px;
overflow-x: hidden;
}
